.col-4{
    padding-top: 100px;
   }

.col-4 input{
    margin-bottom: 20px;
    padding: 5px;
    border: 1px white solid;
    border-radius: 10px;
}

.col-4 button{
    padding: 10px 20px;
    color: white;
    background-color: red;
    border: 1px red solid;
    border-radius: 10px;
}