a{
	text-decoration: none;
	padding-right: 15px;
	color: white;
	
}

.block{
	background-color: black;
	margin: 0,5rem;
	border-radius: 0,5rem;
}
.row.center{
	align-items: center;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%
}
